/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reference resource URLs for genomeportrait
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    These are consumed by subworkflows/local/prepare_genome.nf. Every resource is
    downloaded once into params.reference_base and re-used on subsequent runs.
    Only GRCh38 is wired up; igenomes is intentionally disabled.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    references {
        'GRCh38' {
            // --- Core genome (GATK / Broad resource bundle, full ALT-aware) ---
            fasta            = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta'
            fasta_fai        = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.fai'
            dict             = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dict'

            // --- Known sites for BQSR ---
            dbsnp            = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf'
            dbsnp_tbi        = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf.idx'
            known_indels     = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz'
            known_indels_tbi = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi'
            mills            = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'

            // --- Annotation databases ---
            vep_cache        = 'https://ftp.ensembl.org/pub/release-113/variation/indexed_vep_cache/homo_sapiens_vep_113_GRCh38.tar.gz'
            // NOTE: gnomAD v4.1 genomes are published per-chromosome (there is no single
            // genome-wide VCF). For a real whole-genome run, point this at a per-chromosome
            // file list / pre-merged sites VCF. Default below is chr21 so the value is valid.
            gnomad           = 'https://storage.googleapis.com/gcp-public-data--gnomad/release/4.1/vcf/genomes/gnomad.genomes.v4.1.sites.chr21.vcf.bgz'
            clinvar          = 'https://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/clinvar.vcf.gz'
            dbnsfp           = 'https://dbnsfp.s3.amazonaws.com/dbNSFP4.9a_grch38.gz'

            // --- Ancestry / population reference panel ---
            // 1000 Genomes high-coverage GRCh38 plink2 build (pgenlib reference set, rsID pvar).
            // These are the canonical plink2 distribution URLs; pgen/pvar are zstd-compressed,
            // psam is plain text (handled by modules/local/download_kgp_hgdp.nf).
            // Use the dl.dropboxusercontent.com host: it serves a direct HTTP 200 (no
            // www.dropbox.com interstitial/redirect, which BusyBox wget in the plink2
            // container 400s on).
            kgp_hgdp_panel   = 'https://dl.dropboxusercontent.com/s/j72j6uciq5zuzii/all_hg38.pgen.zst'
            kgp_hgdp_pvar    = 'https://dl.dropboxusercontent.com/scl/fi/fn0bcm5oseyuawxfvkcpb/all_hg38_rs.pvar.zst?rlkey=przncwb78rhz4g4ukovocdxaz'
            kgp_hgdp_psam    = 'https://dl.dropboxusercontent.com/scl/fi/u5udzzaibgyvxzfnjcvjc/hg38_corrected.psam?rlkey=oecjnk4vmbhc8b1p202l0ih4x'

            // --- Forensic / STR catalogs ---
            str_catalog      = 'https://github.com/Illumina/ExpansionHunter/raw/master/variant_catalog/grch38/variant_catalog.json'
            hipstr_codis     = 'https://raw.githubusercontent.com/HipSTR-Tool/HipSTR-references/master/human/hg38.hipstr_reference.bed.gz'

            // --- mtDNA / Y ---
            mt_reference     = 'rCRS (NC_012920.1, embedded in genome)'
            // NB: the yleaf biocontainer ships NO data; positions come from yleaf_data_url
            // (see modules/local/download_yleaf_data.nf) into a locally built image.
            yleaf_position   = 'fetched by DOWNLOAD_YLEAF_DATA (params.yleaf_data_url)'

            // --- Pharmacogenomics ---
            pharmcat_positions = 'https://github.com/PharmGKB/PharmCAT/releases/latest/download/pharmcat_positions.vcf.bgz'

            // --- HLA reference (IPD-IMGT/HLA, bundled with T1K) ---
            hla_reference    = 'bundled with T1K container'
        }

        // ---------- chr21-only build used by `-profile test` ----------
        // Re-uses the full GRCh38 annotation resources but a tiny chr21 FASTA so the
        // smoke test runs quickly. Variant DBs are streamed/region-restricted at runtime.
        'GRCh38_chr21' {
            fasta            = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
            dbsnp            = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz'
            known_indels     = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz'
            mills            = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz'
            vep_cache        = 'https://ftp.ensembl.org/pub/release-113/variation/indexed_vep_cache/homo_sapiens_vep_113_GRCh38.tar.gz'
            gnomad           = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/gnomAD.r2.1.1.vcf.gz'
            clinvar          = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz'
            str_catalog      = 'https://github.com/Illumina/ExpansionHunter/raw/master/variant_catalog/grch38/variant_catalog.json'
            hipstr_codis     = 'https://raw.githubusercontent.com/HipSTR-Tool/HipSTR-references/master/human/hg38.hipstr_reference.bed.gz'
        }
    }

    // PGS Catalog REST endpoint for on-the-fly scoring-file download.
    pgs_catalog_api = 'https://www.pgscatalog.org/rest'
}
